 <div class="input-group">
  <canvas id="drawing" class="picture" width="400" height="200">
    <!-- drawing goes here -->
  </canvas>
 
  <%= form_for(@picture) do |f| %>
    <%= f.hidden_field :image %>
    <%= hidden_field_tag :storyline_id, @storyline.id %>
    <%= hidden_field_tag :turn_number, @turn %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <button type="button" id="clear" class="btn-default btn-sm">Clear</button>
    <button type="submit" id="submit_button" class="btn-default btn-sm">send it</button>
  <% end %>
</div>
